<!doctype>
<html>
<head>
	<link rel="stylesheet" type="text/css" href='/css/bootstrap.min.css'>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<div class="container">
		<header class="row">
			<h1>Hot Spot</h1>
		</header>
		<div class="row">
			<table class="table table-striped col-sd-12">
				<thead>
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th id="downloadHeader">
							<form action="/" method="get">
								<input type="hidden" name="sorter" value="downAvg">
								<button type="submit">Download</button>
							</form>
						</th>
						<th id="uploadHeader">
							<form action="/" method="get">
								<input type="hidden" name="sorter" value="upAvg">
								<button type="submit">Upload</button>
							</form>
						</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<% for (var i = 0; i < cafes.length; i++) { %>
						<tr>
							<td><%= cafes[i].name %></td>
							<td><%= cafes[i].address %></td>
							<td><%= cafes[i].downAvg %></td>
							<td><%= cafes[i].upAvg %></td>
							<td>
								<form class="addTest" action="/addTest" method="post">
									<input type="hidden" name="id" value="<%= cafes[i]._id %>">
									<button type="submit" class="btn">Add Test</button>
								</form>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div> <!-- Row -->
		<div class="row form-group">
			<form id="addCafe" action="/addCafe" method="post">
				<input type="text" class="col-sd-5 form-control" name="name" placeholder="Name">
				<input type="text" class="col-sd-5 form-control" name="address" placeholder="Address">
				<button class="btn" type="submit" class="col-sd-2">Add Location</button>
			</form>
		</div> <!-- Row -->
		<footer class="row">
		</footer>
	</div>
	<script src='/js/bundle.js'></script>
</body>
</html>
