<!doctype>
<html>
<head>
	<!-- <link rel="stylesheet" type="text/css" href='/css/bootstrap.min.css'> -->
	<!-- <link rel="stylesheet" type="text/css" href="/css/index.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/new.css">
</head>
<body>
    <div class='header'>
        <h1>Hot Spot Rank</h1>
        <div class='table-header'>
            <div class='name'>Name</div>
            <div class='address'>Address</div>
            <div class='downAvg' id="downloadHeader">
                <form action="/" medivod="get">
                    <input type="hidden" name="sorter" value="downAvg">
                    <button type="submit" class="btn btn-success">Download</button>
                </form>
            </div>
            <div class='upAvg' id="uploadHeader">
                <form action="/" method="get">
                    <input type="hidden" name="sorter" value="upAvg">
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
            <button onclick="openAddForm(event)" class='open-add-form'>Add Hotspot</button>
        </div>
    </div>
    <div class='addSpot'>
        <button onclick='colapseForm(event)'>close</button>
        <form id="addCafe" action="/addCafe" method="post">
            <input type="text" class="col-sd-5 form-control" name="name" placeholder="Name">
            <input type="text" class="col-sd-5 form-control" name="address" placeholder="Address">
            <button class="btn btn-info col-sd-2 add-location" type="submit">Add Location</button>
        </form>
    </div>
    <div class="table">
        <div class='table-data'>
            <% for (var i = 0; i < cafes.length; i++) { %>
                <div class='table-row'>
                    <div class='name'><%= cafes[i].name %></div>
                    <div class='address'><%= cafes[i].address %></div>
                    <div class='downAvg'><%= Math.round(100*cafes[i].downAvg)/100  %></div>
                    <div class='upAvg'><%= Math.round(100*cafes[i].upAvg)/100  %></div>
                    <div class='addTest'>
                        <form class="addTest" action="/addTest" method="post">
                            <input type="hidden" name="id" value="<%= cafes[i]._id %>">
                            <button type="submit" class="btn btn-primary">Add Test</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div> <!-- table-data -->
    </div> <!-- table -->
    <footer class="row">
    </footer>

    <script>
        function openAddForm(e){
            e.preventDefault()
            console.log('hi')
            var form = document.querySelector('.addSpot')
            form.style.display = "block"
        }
        function colapseForm(e) {
            e.preventDefault()
            var form = document.querySelector('.addSpot')
            form.style.display = "none"
            
        }
    </script>
	<script src='/js/bundle.js'></script>
</body>
</html>
